<header class="header" xmlns="http://www.w3.org/1999/html">
  <div class="logo"><%= image_tag "logo.png" %></div>
  <nav>
    <ul class="menu">
      <li>Gallery</li>
      <li>Artists</li>
      <li>Events</li>
      <li>Blog</li>
    </ul>
  </nav>
</header>
<section id="buy" class="lp-section">
    <div class="text-center section-title">
      <h2>A cutting edge platform for artists who inovate and inspire</h2>
    </div>
    <div class="text-center buy-subtitle">
      <h3>This is not your traditional gallery</h3>
    </div>
    <div class="text-center buy-cta">
      <div class="button">
        <a href="#">Visit artists</a>
      </div>
    </div>
</section>
<section id="rent" class="lp-section">
  <div class="text-center section-title">
    <h3>Find contemporary art at its finest</h3>
    <h2>Better inspiration and personality for every space you share</h2>
  </div>
  <div class="text-center rent-cta">
    <div class="button">
      <a href="#">Get inspired</a>
    </div>
  </div>
</section>
<section id="showcase" class="lp-section">
  <div class="text-center section-title showcase-title">
    <h3>Shift your environment to a new style</h3>
    <h2>Try a new design for free and inspire people in your space</h2>
    <div class="showcase-cta">
      <div class="button">
        <a href="#">Visit artists</a>
      </div>
    </div>
  </div>
</section>
<section id="partners">
  <h2>A platform tailored with personality for great brands</h2>
</section>
<footer>
  <div class="footer-menu">
    <ul>
      <li>
        The team
      </li>
      <li>
        Contact us
      </li>
      <li>
        Artist? Give us a shout
      </li>
    </ul>
  </div>
</footer>