body {
  //margin-top: -20px;
}
@mixin opaque {
  /* Fallback for web browsers that don't support RGBa */
  background-color: rgb(0, 0, 0);
  /* RGBa with 0.6 opacity */
  background-color: rgba(0, 0, 0, 0.6);
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.opaque(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.opaque(startColorstr=#99000000, endColorstr=#99000000)";
}

@mixin lp-item {
  width: 100%;
  position: absolute;
}
.header {
  @include opaque;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  //height: 60px;
  padding: 10px 20px;
  .logo {
    float: left;
    img {
      width: 30px;
    }
  }
  nav {
    display: none;
    ul{
      margin: 0;
      padding: 0;
      text-align: center;
      li{
        display: inline;
        a {
          font-size: 1.6em;
          font-family: 'neusademibold', Arial, Helvetica, sans-serif;;
          display: inline-block;
          padding: 0 30px;
          color: white;
          text-decoration: none;
          &:hover, &:active {
            color: black;
            text-decoration: none;
          }
        }
      }
    }
  }
}
.lp-section {
  height: 100vh;
  background-size: cover;
  position: relative;
  min-height: 1000px;
}

#buy {
  background-image: image-url('landing1.jpg');
}

#rent {
  background-image: image-url('landing2.jpg');
}

#showcase {
  background-image: image-url('landing3.jpg');
}

#partners {
  text-align: center;
  h2 {
    color: black;
  }
}

h1, h2, h3 {
  color: white;
  margin: 0;
  padding-left: 40px;
  padding-right: 40px;
}

h2, a {
  font-family: 'neusaextrabold', Arial, Helvetica, sans-serif;;
  font-size: 2.8em;
  letter-spacing: 4px;
}

h3, h4 {
  font-family: 'neusademibold', Arial, Helvetica, sans-serif;;
  font-size: 2.8em;
  letter-spacing: 4px;
}

h4 {
  font-size: 1.8em;
}

h2, h3, h4, a {
  text-transform: uppercase;
}

a {
  font-size: 1.8em;
  color: white;
  letter-spacing: 3px;
  text-decoration: none;
  &:hover, &:active {
    text-decoration: none;
  }
}
.section-title, .showcase-title {
  @include opaque;
  padding: 60px 0;
}

.section-buy, .section-rent, .showcase-title {
  bottom: 0;
  @include lp-item;
}

.buy-subtitle {
  margin: 60px 0;
}

.buy-cta, .rent-cta {
  margin-bottom: 60px;
}

.rent-cta {
  margin-top: 60px;
}

.showcase-cta {
  margin-top: 30px;
}

.showcase-items {
  margin: 80px 0;
  padding: 0;
  text-align: center;
  ul {
    display: inline;
    margin: 0;
    padding: 0;
    li {
      font-size: 1.6em;
      font-family: 'neusademibold', Arial, Helvetica, sans-serif;;
      display: inline-block;
      padding: 0 30px;
      margin: 30px 60px;
      color: black;
      background-color: gray;
      text-transform: uppercase;
      width: 300px;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }
}

#catalogue {
  padding: 60px 40px;
  .text-field {
    height: 60px;
    max-width: 400px;
    width: 90%;
    margin: 20px auto;
    padding: 10px;
    border: solid 4px black;
  }
  .form-button {
    max-width: 400px;
    width: 90%;
    color: black;
    padding: 20px;
    display: block;
    border: solid 4px black;
    margin: 30px auto 0;
    font-size: 1.6em;
    font-family: 'neusademibold', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    background-color: white;
    &:hover {
      background-color: black;
      color: white;
    }
  }
}
.text-field::-webkit-input-placeholder {
  font-family: 'neusademibold', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: black;
  letter-spacing: 1px;
}

.text-field:-ms-input-placeholder {
  font-family: 'neusademibold', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: black;
  letter-spacing: 1px;
}

.text-field:-moz-placeholder {
  font-family: 'neusademibold', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: black;
  letter-spacing: 1px;
}

.text-field::-moz-placeholder {
  font-family: 'neusademibold', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: black;
  letter-spacing: 1px;
}


.button {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  a {
    color: white;
    padding: 20px;
    display: block;
    border: solid 4px white;
    &:hover, &:active {
      background-color: black;
    }
  }
}

.error {
  color: darkred;
}
.notice {
  color: darkgreen;
}

footer {
  .footer-menu {
    float: left;
    background-color: black;
    width: 100%;
    ul {
      margin: 0;
      padding: 30px 20px;
      list-style: none;
      float: left;
      li {
        margin: 0;
        color: white;
        padding: 10px;
        float: left;
      }
    }
  }
  .social-media {
    width: 277px;
    display: block;
    margin: 0 auto;
    ul {
      margin: 0;
      padding: 0;
      text-align: center;
      li {
        display: inline;
        a {
          display: inline-block;
          padding: 0 30px;
          &:hover {
            color: gray;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 640px) {
  .header nav {
    display: block
  }
}